<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title>EnergySim</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" crossorigin="anonymous"></script>
    <script src="./js/range.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="./css/semantic.pulse.css"
      />
    <link 
      rel="stylesheet"
      type="text/css"
      href="./css/range.css"
      />
    <link 
      rel="stylesheet"
      type="text/css",
      href="./css/styles.css"
      />
  
    <script>
      let sessionHouse = {{{json sessionHouse}}};
      let sessionSettings = {{{json sessionSettings}}};

      // Get appliance types
      let applianceTypes = [];
      $.getJSON('/applianceInits', (data) => {
        $.each(data, (key, val) => {
          applianceTypes.push(val.type);
        });
      });

      // Get room types 
      let roomTypes = [
        'bathroom', 'laundry room', 'bedroom', 
        'living room', 'kitchen', 'basement'
      ];

      // DOM loaded
      $(document).ready(() => {
        // Load setup 
        let setupId = localStorage.getItem('setupId'); 
        loadSetupFile(setupId);

        // Add room types
        $.each(roomTypes, (key, roomType) => {
          let roomTypeValue = roomType.replace(' ', '_');
          $('#roomDropdown').append(
            '<div class="item" data-value="'+roomTypeValue+'">'+roomType+'</div>'
          );
        });

        loadSetupFilenames();

        // Add listeners
        $('#loadSetupFile').click(()=> {
          let filename = $('input[name="filename"]').val();
          let setupId = filename.split('.')[0];
          loadSetupFile(setupId);
        });
        $('.saveButton').click(()=> {
          let setupId = localStorage.getItem('setupId');
          let watchfulnessInput = $('#watchfulnessInput').text();
          let daysInput = $('#daysInput').val();
          let start = Math.floor(Date.now() / 1000);
          $.post('/save', 
            {'setupId' : setupId, 
            'start' : start,
            'days' : daysInput,
            'watchfulness' : watchfulnessInput,
            })
            .done((data)=> {
              if(data.error == "Empty") {
                alert('Please add at least one appliance in each room.');
              } else {
                alert('Saved as Setup "'+setupId+ '"!');
                // Reload setup filenames
                loadSetupFilenames();
              }
            });
        });
        $('#startNewButton').click(()=>{
          $.get('/reset');
          let randomId = makeid(5);
          localStorage.setItem('setupId', randomId);            
          $.post('/setSessionSetupId', {'setupId' : randomId}, 
          () => {
            $.get('/getSessionSettings', (data) => {
              displaySettings(data);
            });
          });
          $.getJSON('/getSessionHouse', (data) => {displayRooms(data);});
        });
        $('#addRoomButton').click((event)=>{
          let roomType = $('input[name="room"]').val();
          let roomId = roomType + '_' + makeid(5);
          $.post('/add-room', {'name' : roomId }, () => {
            $.getJSON('/getSessionHouse', (data) => {displayRooms(data);});
          });
        }); 
        $('.clearButton').click(()=>{
          clearSetup();
        });
        $('#setCustomId').click(()=>{
          let customId = $('#customSetupId').val();
          customId = customId.split(' ').join('_');
          localStorage.setItem('setupId', customId);
          $.post('/setSessionSetupId', {'setupId' : customId},
          () => {
            $.get('/getSessionSettings', (data) => {
              displaySettings(data);
            });
          });
        });
        $('#randomButton').click(()=>{
          let randomId = makeid(5);
          localStorage.setItem('setupId', randomId);            
          $.post('/setSessionSetupId', {'setupId' : randomId}, 
          () => {
            $.get('/getSessionSettings', (data) => {
              displaySettings(data);
            });
          });
        });
      });

      // Functions
      function loadSetupFilenames() {
        // Add setup filenmames
        $('#setupFilenames').empty();
        $.getJSON('/setups', (data) => {
          data.forEach((setupFilename) => {
            setupFilename = setupFilename.split('.')[0];
            $('#setupFilenames').append(
              '<div class="item" data-value="'+setupFilename+'">'+setupFilename+'</div>'
            );
          });
        });
      }
      function loadSetupFile(setupId) {
        $.post('/setupExists', {'setupId' : setupId}, (data) => {
          localStorage.setItem('setupId', setupId);
          if(data.exists == true) {
            $.getJSON('/setups/'+setupId, (data) => {
              // Change sessionHouse and sessionSettings
              $.post('/setSetupSessionWithSetupId', {'setupId' : setupId}); 
            
              // Display rooms and settings
              let settings = data[0]["settings"][0];
              let rooms = data[1]["rooms"];
              displaySettings(settings);
              displayRooms(rooms);
            })
            .fail(()=>{ 
              loadEmpty();
            });           
        } else {
            displaySettings(sessionSettings);
            displayRooms(sessionHouse);
          } 
        });
      }
      function clearSetup() {
        $.get('/empty');
        loadEmpty();
      }
      function loadEmpty() {
        $('.ui.range').range({
          min: 0.0, max: 1.0,
          start: 0,
          step: 0.1,
          onChange:
          function (value){$('#watchfulnessInput').html(value);}                  
        });
        $('.rooms').empty();
        $('.ui.selection.dropdown').dropdown();
      }
      function displaySettings(settings) {
        $('#setupId').html(settings.setupId);
        $('.ui.range').range({
          min: 0.0, max: 1.0,
          start: settings.watchfulness,
          step: 0.1,
          onChange:
          function (value){$('#watchfulnessInput').html(value);}                  
        });
        $("#daysInput").val(settings.days);
        $('.ui.selection.dropdown').dropdown();
      }
      function displayRooms(rooms) {
        $('.rooms').empty();
        html = '';
        // Rooms
        $.each(rooms, (key, room) => {
          html += '<div id='+room.room_id+' class="column"><table class="ui celled striped table"><thead><tr><th colspan="2">';
          html += room.room_id;
          html += '<div class="removeRoomButton ui button right floated">Remove</div>';
          html += '</th></thead></tr>';
          // Appliances
          $.each(room.appliances, (key, appliance) => {
              html += '<tr><td>';
              html += "<span class='applianceId' data-value="+appliance.appliance_id+">"+appliance.appliance_id+"</span>";
              html += '<div class="removeApplianceButton ui tiny basic button right floated">Remove</div></td></tr>';
          });
          // Appliances dropdown
          html += '<tr><td><div class="ui selection dropdown">'
          html += '<input type="hidden" name="'+room.room_id+'_appliances">';
            html += '<i class="dropdown icon"></i>'
            html += '<div class="default text">Choose appliance</div>';
            html += '<div class="menu">';
              $.each(applianceTypes, (key, val) => {
                html += '<div class="item" data-value="'+val+'">'+val+'</div>';
              });
            html += '</div>';
          html += '</div>'
          html += '<div class="addApplianceButton ui button right floated">Add</div></td></tr>';                 
          html += '</table></div>';
        });
        // Add HTML
        $('.rooms').html(html);

        // Add listeners
        $('.addApplianceButton').click((event)=>{
          let roomId = $(event.target).parent().parent().parent().parent().parent().attr('id');
          let applianceType = $('input[name="'+roomId+'_appliances"]').val();
          let newApplianceId = applianceType + '_' + makeid(5);
          if(roomId && applianceType) {
            $.post(
              '/add-appliance', 
              {'room_id': roomId, 'appliance_id': newApplianceId}, 
              () => {$.getJSON('/getSessionHouse', (data) => {displayRooms(data);});}
            );
          } else {
            alert('Please select an appliance to add.');
          }
        });
        $('.removeApplianceButton').click((e)=>{
          let applianceId = $(e.target).parent().find('span').attr('data-value');
          let roomId = $(e.target).parent().parent().parent().parent().parent().attr('id');
          $.post('/remove-appliance', 
            {'room_id' : roomId, 'appliance_id' : applianceId},
            () => {$.getJSON('/getSessionHouse', (data) => {displayRooms(data);});}
          );
        });
        $('.removeRoomButton').click((e) => {
          let roomId = $(e.target).parent().parent().parent().parent().parent().attr('id');
          $.post(
            '/remove-room', 
            {'room_id' : roomId}, 
            () => {$.getJSON('/getSessionHouse', (data) => {displayRooms(data);});}
          );
        });        
        $('.ui.selection.dropdown').dropdown();     
      } 
      function makeid(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      }    
    </script>
  </head>

  <body id="root">
    <div class="ui top fixed inverted menu">
      <div class="ui container">
        <a class="header item title" href="/">
            EnergySim
        </a>
        <a class="item" href="/">Setup</a>
        <a class="item" href="/generate">Generate</a>
        <a class="item" href="/results">Results</a>
        <!-- <div class="ui simple dropdown item">
          Dropdown <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#root">Link Item</a>
            <a class="item" href="#root">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              Sub Menu 
              <div class="menu">
                <a class="item" href="#root">Link Item</a>
                <a class="item" href="#root">Link Item</a>
              </div>
            </div>
            <a class="item" href="#root">Link Item</a>
          </div>
        </div> -->
      </div>
    </div>

    <div class="ui main text container">

      <!-- Load Setup -->
      <div class="ui segment">   
          <h1 class="ui header">Load Setup</h1>
          <div class="ui selection dropdown">
              <input type="hidden" name="filename">
              <i class="dropdown icon"></i>
              <div class="default text">Choose filename</div>
              <div class="menu" id="setupFilenames">
              </div>
            </div>
            <div class="ui blue button" id="loadSetupFile">Load</div>
            <div class="ui horizontal divider">
              or
            </div>  
          <h1 class="ui header">Edit Setup</h1>
          <!-- <p>This is where a user will be able to add rooms and put appliances into them at will</p>  -->

        <!-- Setup/Clear -->
        <div class="ui grid">
          <div class="column">
            <div class="saveButton ui blue button center">Save</div>
            <div class="clearButton ui blue basic button center">Clear</div>
          </div>
        </div>

        <!-- Settings --> 
        <h2> Settings </h2>

        <div class="ui form"> 
          <div class="inline field">
            <label> Setup ID </label>
            <div class="ui button" id="setupId">None</div>
            <div class="ui grid" style="margin: 2px;">              
          </div>
        </div>

        <div class="ui grid padded celled">

          <div class="two column row">

            <div class="column">
              <div class="ui basic button" id="randomButton">Set Random Setup ID</div>
              <div class="ui basic button" id="startNewButton">Start New Setup</div>
            </div>

            <div class="column">
              <div class="ui form">
                <div class="inline field">
                  <label>Custom Setup ID</label>
                  <input type="text" id="customSetupId">
                  <div class="ui basic button" id="setCustomId"> Set </div>
                </div>
              </div>
            </div>
          </div>

          <div class="two column row">
            <div class="column">
              <div class="ui form">
                <div class="inline field">
                  <label>Agent Watchfulness</label>
                  <div class="ui range" id="watchfulnessRange" style="width: 300px;"></div>
                    Value :&nbsp; 
                    <span id="watchfulnessInput"></span>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="ui form">
                <div class="field">
                  <label>Days</label>
                  <input id="daysInput" type="number" min="1" max="1000">
                </div>
              </div>
            </div>

          </div>

        </div>

          <!-- Rooms/Appliances --> 
          <h2> Rooms and Appliances </h2>

          <div class="ui selection dropdown">
              <input type="hidden" name="room">
              <i class="dropdown icon"></i>
              <div class="default text">Choose room</div>
              <div class="menu" id="roomDropdown">
                <!-- Room dropdown -->
              </div>
          </div>
          <div class="ui button" id="addRoomButton">Add</div>
          
          <br /><br />

          <div class="rooms ui two column grid">
            <!-- Rooms -->
          </div>
        
        <!-- Save/Clear Buttons -->
        <div class="ui grid">
          <div class="column">
            <div class="saveButton ui blue button center">Save</div>
            <div class="clearButton ui blue basic button center">Clear</div>
          </div>
        </div>

      </div>

    </div>
    <!-- <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Group 1</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 2</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 3</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>
              Extra space for a call to action inside the footer that could help
              re-engage users.
            </p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img class="ui centered mini image" src="./static/images/logo.png" />
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#root">Site Map</a>
          <a class="item" href="#root">Contact Us</a>
          <a class="item" href="#root">Terms and Conditions</a>
          <a class="item" href="#root">Privacy Policy</a>
        </div>
      </div>
    </div> -->
  </body>
</html>