<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
    <meta
      name="description"
      content="Semantic-UI-Forest, collection of design, themes and templates for Semantic-UI."
    />
    <meta name="keywords" content="Semantic-UI, Theme, Design, Template" />
    <meta name="author" content="PPType" />
    <meta name="theme-color" content="#ffffff" />
    <title>EnergySim</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" crossorigin="anonymous"></script>
    <script src="./js/range.js"></script>

    <link
      rel="stylesheet"
      type="text/css"
      href="./css/semantic.pulse.css"
      />
    <link 
      rel="stylesheet"
      type="text/css"
      href="./css/range.css"
      />
    <link 
      rel="stylesheet"
      type="text/css",
      href="./css/styles.css"
      />
  
    <script>
      let sessionHouse = {{{json sessionHouse}}};
      let sessionSettings = {{{json sessionSettings}}};

      // Get appliance types
      let applianceTypes = [];
      $.getJSON('/applianceInits', (data) => {
        $.each(data, (key, val) => {
          applianceTypes.push(val.type);
        });
      });

      // Get room types 
      let roomTypes = [
        'bathroom', 'laundry room', 'bedroom', 
        'living room', 'kitchen', 'basement'
      ];

      $(document).ready(() => {
          let setupId = localStorage.getItem('setupId'); 
          console.log(setupId);
          loadSetupFile(setupId);

          // Add room types
          $.each(roomTypes, (key, roomType) => {
            let roomTypeValue = roomType.replace(' ', '_');
            $('#roomDropdown').append(
              '<div class="item" data-value="'+roomTypeValue+'">'+roomType+'</div>'
            );
          });

          // Add setup filenmames
          $.getJSON('/setups', (data) => {
            data.forEach((setupFilename) => {
              setupFilename = setupFilename.split('.')[0];
              $('#setupFilenames').append(
                '<div class="item" data-value="'+setupFilename+'">'+setupFilename+'</div>'
              );
            });
          });

          // Onclicks
          $('#loadSetupFile').click(()=> {
            let filename = $('input[name="filename"]').val();
            let setupId = filename.split('.')[0];
            loadSetupFile(setupId);
          });

          $('#saveButton').click(()=> {
            // todo
          });

          $('#addRoomButton').click((event)=>{
            let roomType = $('input[name="room"]').val();
            let roomId = roomType + '_' + makeid(5);
            $.post('/add-room', {'name' : roomId }, () => {
              $.getJSON('/view', (data) => {displayRooms(data);});
            });
          });
          
          $('#clearButton').click(()=>{
            clearSetup();
          });

          $('#setCustomId').click(()=>{
            let customId = $('#customSetupId').val();
            console.log(customId);
            customId = customId.replace(' ', '_');
            $.post('/setSessionSetupId', {'setupId' : customId},
            () => {
              $.get('/getSessionSettings', (data) => {
                displaySettings(data);
              });
            });
          });

          $('#randomButton').click(()=>{
            let randomId = makeid(5);
            localStorage.setItem('setupId', randomId);            
            $.post('/setSessionSetupId', {'setupId' : randomId}, 
            () => {
              $.get('/getSessionSettings', (data) => {
                displaySettings(data);
              });
            });
          });

      });

      function loadSetupFile(setupId) {
        $.post('/setupExists', {'setupId' : setupId}, (data) => {
          if(data.exists == true) {
            $.getJSON('/setups/'+setupId+'.json', (data) => {
              localStorage.setItem('setupId', setupId);
              let settings = data[0]["settings"][0];
              let rooms = data[1]["rooms"];

              // Set sessionHouse
              $.post('/setSetupSessionWithSetupId', {'setupId' : setupId}); 
              displaySettings(settings);

              // Display rooms
              displayRooms(rooms);
            })
            .fail(()=>{ 
              loadEmpty();
            });           
        } else {
            console.log(sessionSettings, sessionHouse);
            displaySettings(sessionSettings);
            displayRooms(sessionHouse);
          } 
        });
      }

      function clearSetup() {
        $.get('/empty');
        loadEmpty();
      }

      function loadEmpty() {
        $('.ui.range').range({
          min: 0.0, max: 1.0,
          start: 0,
          step: 0.1,
          onChange:
          function (value){$('#watchfulness').html(value);}                  
        });
        $('.rooms').empty();
        $('.ui.selection.dropdown').dropdown();
      }

      function displaySettings(settings) {
        $('#setupId').html(settings.setupId);
        $('.ui.range').range({
          min: 0.0, max: 1.0,
          start: settings.watchfulness,
          step: 0.1,
          onChange:
          function (value){$('#watchfulness').html(value);}                  
        });
        $("#daysInput").val(settings.days);
        $('.ui.selection.dropdown').dropdown();
      }

      function displayRooms(rooms) {
        $('.rooms').empty();
        html = '';
        $.each(rooms, (key, room) => {
          html += '<div id='+room.room_id+' class="column"><table class="ui celled striped table"><thead><tr><th colspan="2">';
          html += room.room_id;
          html += '<div class="removeRoomButton ui button right floated">Remove</div>';
          html += '</th></thead></tr>';

          $.each(room.appliances, (key, appliance) => {
              html += '<tr><td>';
              html += "<span class='applianceId' data-value="+appliance.appliance_id+">"+appliance.appliance_id+"</span>";
              html += '<div class="removeApplianceButton ui tiny basic button right floated">Remove</div></td></tr>';
          });

          html += '<tr><td><div class="ui selection dropdown">'
          html += '<input type="hidden" name="'+room.room_id+'_appliances">';
            html += '<i class="dropdown icon"></i>'
            html += '<div class="default text">Choose appliance</div>';
            html += '<div class="menu">';
              $.each(applianceTypes, (key, val) => {
                html += '<div class="item" data-value="'+val+'">'+val+'</div>';
              });
            html += '</div>';
          html += '</div>'
          html += '<div class="addApplianceButton ui button right floated">Add</div></td></tr>';                 
          html += '</table></div>';
        });
        $('.rooms').html(html);

        $('.addApplianceButton').click((event)=>{
          let roomId = $(event.target).parent().parent().parent().parent().parent().attr('id');
          let applianceType = $('input[name="'+roomId+'_appliances"]').val();
          let newApplianceId = applianceType + '_' + makeid(5);
          $.post(
            '/add-appliance', 
            {'room_id': roomId, 'appliance_id': newApplianceId}, 
            () => {$.getJSON('/view', (data) => {displayRooms(data);});}
          );
        });

        $('.removeApplianceButton').click((e)=>{
          let applianceId = $(e.target).parent().find('span').attr('data-value');
          let roomId = $(e.target).parent().parent().parent().parent().parent().attr('id');
          $.post('/remove-appliance', 
            {'room_id' : roomId, 'appliance_id' : applianceId},
            () => {$.getJSON('/view', (data) => {displayRooms(data);});}
          );
        });

        $('.removeRoomButton').click((e) => {
          let roomId = $(e.target).parent().parent().parent().parent().parent().attr('id');
          $.post(
            '/remove-room', 
            {'room_id' : roomId}, 
            () => {$.getJSON('/view', (data) => {displayRooms(data);});}
          );
        });        
        $('.ui.selection.dropdown').dropdown();     
      }

      function makeid(length) {
        var result = '';
        var characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
        return result;
      }    

    </script>

  </head>

  <body id="root">
    <div class="ui top fixed inverted menu">
      <div class="ui container">
        <a class="header item title" href="#">
            EnergySim
        </a>
        <a class="item" href="#">Setup</a>
        <a class="item" href="#">Generate</a>
        <a class="item" href="#">Results</a>
        <!-- <div class="ui simple dropdown item">
          Dropdown <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item" href="#root">Link Item</a>
            <a class="item" href="#root">Link Item</a>
            <div class="divider"></div>
            <div class="header">Header Item</div>
            <div class="item">
              Sub Menu 
              <div class="menu">
                <a class="item" href="#root">Link Item</a>
                <a class="item" href="#root">Link Item</a>
              </div>
            </div>
            <a class="item" href="#root">Link Item</a>
          </div>
        </div> -->
      </div>
    </div>
    <div class="ui main text container">

        <!-- Load Setup -->
        <div class="ui segment">   
            <h1 class="ui header">Load Setup</h1>
            <div class="ui selection dropdown">
                <input type="hidden" name="filename">
                <i class="dropdown icon"></i>
                <div class="default text">Choose filename</div>
                <div class="menu" id="setupFilenames">
                </div>
              </div>
              <div class="ui blue button" id="loadSetupFile">Load</div>
              <div class="ui horizontal divider">
                or
              </div>  
            <h1 class="ui header">Edit Setup</h1>
            <!-- <p>This is where a user will be able to add rooms and put appliances into them at will</p>  -->

          <div class="ui grid">
            <div class="column">
              <div class="ui blue button center" id="saveButton">Save Setup</div>
              <div class="ui blue basic button center" id="clearButton">Clear</div>
            </div>
          </div>

          <!-- Settings --> 
          <h2> Settings </h2>

          <div class="ui form"> 
            <div class="inline field">
              <label> Setup ID </label>
              <div class="ui button" id="setupId">None</div>
              <div class="ui grid" style="margin: 2px;">              
            </div>
          </div>

          <div class="ui grid padded celled">

            <div class="two column row">

              <div class="column">
                <div class="ui basic button" id="randomButton">Set Random Setup ID</div>
                <div class="ui basic button" id="newButton">Start New Setup</div>
              </div>

              <div class="column">
                <div class="ui form">
                  <div class="inline field">
                    <label>Custom Setup ID</label>
                    <input type="text" id="customSetupId">
                    <div class="ui basic button" id="setCustomId"> Set </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="two column row">
              <div class="column">
                <div class="ui form">
                  <div class="inline field">
                    <label>Agent Watchfulness</label>
                    <div class="ui range" id="watchfulnessRange" style="width: 300px;"></div>
                      Value :&nbsp; 
                      <span id="watchfulness"></span>
                  </div>
                </div>
              </div>

              <div class="column">
                <div class="ui form">
                  <div class="field">
                    <label>Days</label>
                    <input id="daysInput" type="number" min="1" max="1000">
                  </div>
                </div>
              </div>

            </div>

          </div>

            <!-- Rooms --> 
            <h2> Rooms and Appliances </h2>

            <div class="ui selection dropdown">
                <input type="hidden" name="room">
                <i class="dropdown icon"></i>
                <div class="default text">Choose room</div>
                <div class="menu" id="roomDropdown">
                </div>
            </div>
            <div class="ui button" id="addRoomButton">Add</div>
            
            <br /><br />

            <!-- <div class="ui padded grid">
                <div class="row">
                        <div class="ui button tiny">Kitchen</div>
                        <div class="ui button tiny">Living Room</div>
                        <div class="ui button tiny">Bedroom </div>
                        <div class="ui button tiny">Laundry Room</div>
                        <div class="ui button tiny">Bathroom</div>
                </div>
            </div> -->

            <!-- Appliances --> 
            <div class="ui two column grid rooms">
              <div class="column">
                  <table class="ui celled striped table">
                      <thead>
                        <tr>
                          <th colspan="2"> kitchen_1390 
                            <div class="ui button right floated">Remove</div> 
                          </th>
                        </tr>
                      </thead>
                      <tr>
                        <td>
                          toaster_3013
                          <div class="ui tiny basic button right floated">Remove</div> 
                        </td>
                      </tr>
                      <tr>
                        <td>
                          toaster_3013
                          <div class="ui tiny basic button right floated">Remove</div> 
                        </td>
                      </tr>
                      <tr>
                        <td>

                          <div class="ui selection dropdown">
                            <input type="hidden" name="appliance">
                            <i class="dropdown icon"></i>
                            <div class="default text">Choose appliance</div>
                            <div class="menu">
                                <div class="item" data-value="1">Room 1</div>
                            </div>
                          </div>
                          <div class="ui button right floated">Add</div>

                        </td>
                      </tr>
                  </table>
              </div> 

              <div class="column">
                <table class="ui celled striped table">
                    <thead>
                      <tr>
                        <th colspan="2"> kitchen_1390 
                          <div class="ui button right floated">Remove</div> 
                        </th>
                      </tr>
                    </thead>
                    <tr>
                      <td>
                        toaster_3013
                        <div class="ui tiny basic button right floated">Remove</div> 
                      </td>
                    </tr>
                    <tr>
                      <td>
                        toaster_3013
                        <div class="ui tiny basic button right floated">Remove</div> 
                      </td>
                    </tr>
                </table>
              </div> 

              <div class="column">
                <table class="ui celled striped table">
                  <thead>
                      <tr>
                        <th colspan="2"> kitchen_1390 
                          <div class="ui button right floated">Remove</div> 
                        </th>
                      </tr>
                  </thead>
                  <tr>
                    <td>
                      toaster_3013
                      <div class="ui tiny basic button right floated">Remove</div> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      toaster_3013
                      <div class="ui tiny basic button right floated">Remove</div> 
                    </td>
                  </tr>
              </table>
            </div> 

              <div class="column">
                <table class="ui celled striped table">
                  <thead>
                      <tr>
                        <th colspan="2"> kitchen_1390 
                          <div class="ui button right floated">Remove</div> 
                        </th>
                      </tr>
                  </thead>
                  <tr>
                    <td>
                      toaster_3013
                      <div class="ui tiny basic button right floated">Remove</div> 
                    </td>
                  </tr>
                  <tr>
                    <td>
                      toaster_3013
                      <div class="ui tiny basic button right floated">Remove</div> 
                    </td>
                  </tr>
              </table>
            </div>           
            
          </div>
          
          <div class="ui grid">
            <div class="column">
              <div class="ui blue button center" id="saveButton">Save Setup</div>
              <div class="ui blue basic button center" id="clearButton">Clear</div>
            </div>
          </div>
          
      </div>
    </div>
    <!-- <div class="ui inverted vertical footer segment">
      <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
          <div class="three wide column">
            <h4 class="ui inverted header">Group 1</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 2</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="three wide column">
            <h4 class="ui inverted header">Group 3</h4>
            <div class="ui inverted link list">
              <a class="item" href="#root">Link One</a>
              <a class="item" href="#root">Link Two</a>
              <a class="item" href="#root">Link Three</a>
              <a class="item" href="#root">Link Four</a>
            </div>
          </div>
          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>
              Extra space for a call to action inside the footer that could help
              re-engage users.
            </p>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img class="ui centered mini image" src="./static/images/logo.png" />
        <div class="ui horizontal inverted small divided link list">
          <a class="item" href="#root">Site Map</a>
          <a class="item" href="#root">Contact Us</a>
          <a class="item" href="#root">Terms and Conditions</a>
          <a class="item" href="#root">Privacy Policy</a>
        </div>
      </div>
    </div> -->
  </body>
</html>
